#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_install:
	dh_install --fail-missing
	dh_runit

override_dh_strip:
	dh_strip -pnoname --dbg-package=noname-dbg

override_dh_installdeb:
	dh_installdeb
	rm debian/noname/DEBIAN/conffiles
